<div data-ng-controller="shell as vm">
	<section id="header">
		<div data-ng-include="src='app/layout/topnav.html'"></div>
	</section>
	<section id="main">
		<div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
			<div data-cc-spinner="vm.spinnerOptions"></div>
			<div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
		</div>
		<div data-mt-sidebar></div>
		<div data-ng-view class="view-content"></div>
	</section>
	<section id="footer">
		Home Finances
	</section>
</div>
